.full-height {
  height: 100vh;
}
.navbar-custom {
  background-color: #f093b7;
}
.card-custom {
  background-color: #fce4ec;
  border-color: #f8bbd0;
}
.btn-custom {
  background-color: #f8bbd0;
  border-color: #f48fb1;
  color: #ff0080;
}
